<div class="register-container">

  <div class="flex flex-col items-center space-y-2">

    <img src="../../../../assets/logo.png" alt="App Logo" (click)="goHome()" class="w-12 h-12 object-contain" />
    <h2>Register</h2>
  </div>
  <!-- <div class="flex items-right justify-end">
    <button class="right-4 top-3 text-gray-600 hover:text-red-600 text-xl" (click)="goHome()" aria-label="Close">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </div> -->


  <!-- Step Indicator -->
  <div class="steps">
    <span [class.active]="currentStep === 1">Step 1</span>
    <span [class.active]="currentStep === 2">Step 2</span>
    <span [class.active]="currentStep === 3">Step 3</span>
    <span [class.active]="currentStep === 4">step 4</span>
    <span [class.active]="currentStep === 5">Step 5</span>
    <span [class.active]="currentStep === 6">Step 6</span>
  </div>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
  <form #form="ngForm">

    <!-- Step 1 - Wallet Type Selection -->
    <div *ngIf="currentStep === 1" class="step">
      <div class="wallet-selection">
        <h3>Choose Wallet Type:</h3>
        <div class="wallet-options">

          <!-- Customer -->
          <div class="wallet-card" [class.selected]="CUSTOMER.walletType === 'CUSTOMER'"
            (click)="CUSTOMER.walletType = 'CUSTOMER'">
            <input type="radio" name="walletType" value="CUSTOMER" [(ngModel)]="CUSTOMER.walletType" hidden>
            <h4>👤 Customer</h4>
            <p>Use your wallet to buy, pay and manage your funds.</p>
          </div>

          <!-- Interne -->
          <div class="wallet-card" [class.selected]="CUSTOMER.walletType === 'INTERNE'"
            (click)="CUSTOMER.walletType = 'INTERNE'">
            <input type="radio" name="walletType" value="INTERNE" [(ngModel)]="CUSTOMER.walletType" hidden>
            <h4>🧑‍💼 Interne</h4>
            <p>Internal use wallet. Track, test, and operate securely.</p>
          </div>

          <!-- Merchant -->
          <div class="wallet-card" [class.selected]="CUSTOMER.walletType === 'MERCHANT'"
            (click)="CUSTOMER.walletType = 'MERCHANT'">
            <input type="radio" name="walletType" value="MERCHANT" [(ngModel)]="CUSTOMER.walletType" hidden>
            <h4>🏬 Merchant</h4>
            <p>Receive payments, manage sales and grow your business.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- step 2-->
    <div *ngIf="currentStep === 2" class="step">
      <label for="cusFirstName">First Name:</label>
      <input [(ngModel)]="CUSTOMER.cusFirstName" name="cusFirstName" type="text" required />
      <label for="cusMidName">Middle Name (Optional):</label>
      <input [(ngModel)]="CUSTOMER.cusMidName" name="cusMidName" type="text" />
      <label for="cusLastName">Last Name:</label>
      <input [(ngModel)]="CUSTOMER.cusLastName" name="cusLastName" type="text" required />
      <label for="username">Username:</label>
      <input [(ngModel)]="CUSTOMER.username" name="username" type="text" required />
    </div>

    <!-- Step 3 - Country and City Selection -->
    <div *ngIf="currentStep === 3" class="step">
      <h3>Select Your Country and City</h3>

      <label for="country">Country:</label>
      <select [(ngModel)]="CUSTOMER.country" name="country" (change)="onCountryChange()" class="form-control">
        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
      </select>

      <label for="city">City:</label>
      <select [(ngModel)]="CUSTOMER.city" name="city" class="form-control">
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
    </div>

    <!-- Step 4 - Phone Number -->
    <div *ngIf="currentStep === 4" class="step">
      <label for="phone_nbr">Phone Number:</label>
      <ngx-intl-tel-input [cssClass]="'form-control'" [preferredCountries]="preferredCountries"
        [onlyCountries]="[selectedCountry]" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
        [separateDialCode]="separateDialCode" [searchCountryField]="searchCountryField"
        [formControl]="phoneForm.controls.phone" required>
      </ngx-intl-tel-input>
    </div>


    <!-- Step 5 -->
    <div *ngIf="currentStep === 5" class="step otp-container">
      <label class="form-label">Email:</label>

      <div class="email-group">
        <div class="email-input-wrapper" [class.full-width]="otpSent">
          <input class="form-input" [(ngModel)]="CUSTOMER.cusMailAdress" name="cusMailAdress" type="email" required
            #email="ngModel" email [disabled]="otpSent" [class.invalid]="email.invalid && email.touched" />
          <div *ngIf="email.invalid && email.touched" class="error-message">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Please enter a valid email</div>
          </div>
        </div>

        <button *ngIf="!otpSent" class="action-btn send-btn" type="button" (click)="sendOtp()"
          [disabled]="email.invalid">
          Send OTP
        </button>
      </div>
      <div *ngIf="email.invalid && email.touched" style="color: red;">
        <div *ngIf="email.errors?.['required']">L'email est requis.</div>
        <div *ngIf="email.errors?.['email']">Format d'email invalide.</div>
      </div>


      <!-- OTP Section -->
      <div *ngIf="otpSent && !otpVerified" class="form-group otp-group">
        <label class="form-label">OTP Code:</label>
        <input class="form-input otp-input" [(ngModel)]="otpCode" type="text" name="code" required #otp="ngModel"
          pattern="[0-9]{6}" [class.invalid]="otp.invalid && otp.touched" />
        <button (click)="sendOtp()" class="resend-btn" type="button">Resend OTP</button>


        <!-- Action Button -->
        <button class="action-btn" type="button" (click)="verifyOtp()" [disabled]="email.invalid">
          {{ 'Verify OTP' }}
        </button>
        <div *ngIf="otp.invalid && otp.touched" class="error-message">
          <div *ngIf="otp.errors?.['required']">OTP is required</div>
          <div *ngIf="otp.errors?.['pattern']">Must be 6 digits</div>
          <div *ngIf="!otpVerified">False code</div>
        </div>
      </div>

      <!-- Password Section -->
      <div *ngIf="otpVerified" class="form-group">
        <label class="form-label">Password:</label>
        <input class="form-input" [(ngModel)]="CUSTOMER.cusMotDePasse" type="password" name="password" required
          minlength="6" #password="ngModel" [class.invalid]="password.invalid && password.touched" />
        <div *ngIf="password.invalid && password.touched" class="error-message">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>
      </div>
    </div>

    <!-- Step 6 - KYC -->
    <div *ngIf="currentStep === 6" class="step">
      <label for="idType">Identification Type:</label>
      <select [(ngModel)]="CUSTOMER.identificationType" name="idType">
        <option value="CIN">ID Card</option>
        <option value="PASSPORT">Passport</option>
        <option value="CARTE_SEJOUR">Carte Séjour</option>
      </select>

      <label for="kycFiles">Upload ID Files (recto, verso):</label>
      <input type="file" id="kycFiles" multiple (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.pdf" />
    </div>

  </form>

  <div class="buttons">
    <button (click)="goToPreviousStep()" [disabled]="currentStep === 1">Back</button>
    <button *ngIf="currentStep < 6" (click)="goToNextStep()">Next</button>
    <button *ngIf="currentStep === 6" (click)="onSubmit()">Submit</button>
  </div>

  <!-- Login Redirect -->
  <div class="mt-4 text-center">
    <p class="text-sm text-gray-600">
      Already have an account?
      <a href="/login" class="text-blue-500 hover:underline">Login here</a>
    </p>
  </div>